/* Google Fonts - Roboto for all text */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Heading styles using Roboto Black for impact */
h1, h2, .font-heading {
  font-family: 'Roboto', system-ui, sans-serif;
  font-weight: 900; /* Use Black weight for headings */
}
