/* Google Fonts - Roboto for body text */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Sporty Pro - Custom font for headings */
@font-face {
  font-family: 'Sporty Pro';
  src: url('/fonts/SportyPro-Black.woff2') format('woff2'),
       url('/fonts/SportyPro-Black.woff') format('woff'),
       url('/fonts/SportyPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sporty Pro';
  src: url('/fonts/SportyPro-Bold.woff2') format('woff2'),
       url('/fonts/SportyPro-Bold.woff') format('woff'),
       url('/fonts/SportyPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sporty Pro';
  src: url('/fonts/SportyPro-XLight.woff2') format('woff2'),
       url('/fonts/SportyPro-XLight.woff') format('woff'),
       url('/fonts/SportyPro-XLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Heading styles using Sporty Pro */
h1, h2, .font-heading {
  font-family: 'Sporty Pro', system-ui, sans-serif;
}
